<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
<%= render 'user info', user: @user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
    <h1>Books</h1>
      <%= image_tag @users. get_profile_image(100,100) %>
      <h4>name</h4>
        <p><%= @users.name %></p>
      <h4>introduction</h4>
        <p><%= @users.introduction %></p>
  
      <%= link_to "Edit", edit_user_path(@users.id) %>
    </div>
  </div>
</div>
  
