<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
      <%= render 'user info', user: @user, book: @book %>
    <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
      <table class='table'>
        <tbody>
          <tr>
            <td>
            <%= link_to user_path(@books.user.id) do %>
            <%= image_tag @books.get_image %></br>
            <%= @books.user.name %>
            <% end %>
            </td>
            <td><%= link_to @books.title, book_path(@books.id) %></td>
            <td><%= @books.body %></td>
            <% if @books.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@books.id), class: "btn btn-sm btn-success edit_book_id" %></td>
            <td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger destroy_book_id" %></td>
            <% end %>
          </tr>
        </tbody> 
      </table>
    </div>
  </div>
</div>